#flotChart{
	display: block;

  position: absolute;
  /*overflow: hidden;*/

  width: 400px;
  height: 700px;

  right: 5%;
  top: 50%;

  margin-left: -450px;
  margin-top: -350px;
  
  font-family: 'Open Sans', Arial, sans-serif;
  
  padding: 10px 0 0 10px;

  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  background-color: white;

  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .3);

  transition: transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -webkit-transition: -webkit-transform .3s ease-out;
}
#chart{
	margin-left: 15px;
}
#question{
	font-size: 1.1em;
	font-family: 'Open Sans', Arial, sans-serif;
	margin-bottom: 2px;
}
#difficultyGauge{
	position:absolute;
	left: 240px;
	margin-top: 25px;
	width: auto;
	height: auto;
}
button, #autoResult, #question{
	margin-left: 5px;
}
#voteCount{
	float: right;
	margin: -20px 21px 0 0;
}
#messages{
	overflow-y: scroll;
	background-color: white;
	opacity: 0.7;
	height: 240px;
	width: 210px;
	position: absolute;
	left: 20px;
	top: 425px;
	
	border-radius: 10px;
  	-o-border-radius: 10px;
  	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
}
.messageText {
	
}
.messageDate{
	
}
/*BUTTONTABS on the RIGHT SIDE*/
#pollBtn, #getResult, #voteToggle, #saveState{
	position: absolute;
	border: inherit;
	width: 36px;
	height: 50px;
	z-index: -7500;
	margin-left: 97%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: inherit;
	font-family: inherit;
	text-align: center;
}
#pollBtn:hover, #getResult:hover, #voteToggle:hover, #saveState:hover{
	opacity: 0.85;
}
#pollBtn h4{
	margin-top: 50%;
}
#pollBtn{
	background-image: url('icons/question.png');
	background-repeat: no-repeat;
	background-position: center;
}
#getResult{
	margin-top: 54px;
	background-image: url('icons/arrow-refresh-small.png');
	background-repeat: no-repeat;
	background-position: center;
}
#voteToggle{
	margin-top: 108px;
	background-image: url('icons/chart-bar.png');
	background-repeat: no-repeat;
	background-position: center;
}
#saveState{
	margin-top: 162px;
	background-image: url('icons/table-save.png');
	background-repeat: no-repeat;
	background-position: center;
}
#pollQuestion{
	display: none;
}
.statGauge canvas{
	margin-left: 25%;
}
/**GOOGLE SLIDE OPTIONS*/
.slides.template-default > article:not(.nobackground):not(.biglogo){
	background-image: none !important;
}
.current{
	left: 35% !important;
}
.next{
	left: 70% !important;
}
.past{
	left: 30% !important;
}
#prev-slide-area {
  margin-left: -800px !important;
}
#next-slide-area {
  margin-left: 115px !important;
}

.tickLabel{
	margin-right: 10px;
}
