#flotChart{
display: block;

  position: absolute;
  overflow: hidden;

  width: 400px;
  height: 700px;

  right: 5%;
  top: 50%;

  margin-left: -450px;
  margin-top: -350px;
  
  padding: 10px 0 0 10px;

  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  background-color: white;

  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .3);

  transition: transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -webkit-transition: -webkit-transform .3s ease-out;
}
#chart{
	margin-left: 15px;
}
#difficultyGauge{
	width: auto;
	height: auto;
}
#messages{
	border: 1px solid gray;
	height: 200px;
	width: 220px;
	position: absolute;
	right: 5px;
	top: 450px;
}

.current{
	left: 35% !important;
}
.next{
	left: 70% !important;
}
.past{
	left: 30% !important;
}
#prev-slide-area {
  margin-left: -800px !important;
}
#next-slide-area {
  margin-left: 115px !important;
}

.tickLabel{
	margin-right: 10px;
}